<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Create Account | VoltMart</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='css/style.css') }}">

</head>

<body class="auth-body">

<div class="auth-card">

    <div class="auth-logo">
        ⚡ VoltMart
    </div>

    <h1>
        Create Account
    </h1>

    <p>
        Join VoltMart and start shopping.
    </p>


    <form method="POST"
          onsubmit="return validateRegister()">

        <label>
            Full Name
        </label>

        <input type="text"
               name="name"
               id="name"
               placeholder="Enter your name"
               required>


        <label>
            Email
        </label>

        <input type="email"
               name="email"
               id="email"
               placeholder="Enter your email"
               required>


        <label>
            Password
        </label>

        <input type="password"
               name="password"
               id="password"
               placeholder="Create a password"
               required>


        <button type="submit"
                class="primary-button full">
            Create Account
        </button>

    </form>


    <p class="auth-footer">

        Already have an account?

        <a href="{{ url_for('login') }}">
            Login
        </a>

    </p>

</div>

<script src="{{ url_for('static',
                        filename='js/script.js') }}">
</script>

</body>
</html>